<h1>投稿されたもの</h1>

  <div>
    <%= image_tag @spot.image.variant(resize_to_limit: [300, 300]) if @spot.image.attached? %>
    <p>タイトル: <%= @spot.title %></p>
    <p>説明: <%= @spot.body %></p>
    <%= @spot.created_at.strftime('%Y/%m/%d') %>
  </div>

  <% if @spot.user == current_user %>
    <%= link_to '編集', edit_spot_path(@spot), class: 'btn btn-primary' %>
    <%= link_to '削除', spot_path(@spot), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
  <% end %>