<p class="user-avatar">
  <% if spot.user.avatar.attached? %>
    <%= link_to user_path(spot.user) do %>
      <%= image_tag spot.user.avatar.variant(resize_to_fill: [80, 80]), class: "user-icon" %>
      <span><%= spot.user.name %></span>
    <% end %>
  <% else %>
    <i class="fa-solid fa-user user-icon-default"></i>
    <%= link_to user_path(spot.user) do %>
      <span><%= spot.user.name %></span>
    <% end %>
  <% end %>
</p>