<div class="container">
<h1>編集フォーム</h1>
<hr>

  <% if @spot.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= @spot.errors.count %>件のエラーがあります</h2>
      <ul>
        <% @spot.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @spot, local: true do |f| %>
  <%= render "form_fields", f: f %>
  <%= render "address_form", f: f %>
  <%= render "form_star" %>

    <%= f.submit "更新", class: "btn btn-primary" %>
    <%= link_to '削除', spot_path(@spot), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
  <% end %>
</div>