<div class="container">

  <h1>投稿一覧</h1>
  <hr>

  <% @spots.each do |spot| %>
    <div class="row">
      <div class="col-md-12">

        <%= render "spot_info", spot: spot %>
        <p>投稿者: <%= link_to spot.user.name, user_path(spot.user) %></p>

        <div class="spot">
          <p>コメント件数: <%= spot.post_comments.count %></p>
        </div>

          <%= render "static_star", spot: spot %>

          <div class="spot-image">
            <%= link_to '詳細を見る', spot_path(spot), class: 'btn btn-info' %>
          </div>
       </div>
    </div> 
    <hr>
  <% end %>
</div>