<h1 class="text-center mb-4 border-bottom pb-2">投稿フォーム</h1>

<% if @spot.errors.any? %>
  <ul>
    <% @spot.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @spot do |f| %>

  <div class="form-group">
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :body, "本文" %><br>
    <%= f.text_area :body %>
  </div>

  <div class="form-group">
    <%= f.label :image, "画像" %><br>
    <%= f.file_field :"image" %>
  </div>

 <hr>

  <div class="mb-3">
    <%= f.submit "投稿", class: "btn btn-primary" %>
  </div>

<% end %>
