<div class="container">
  <h1>投稿詳細</h1>
  <hr>

  <div class="row">
    <div class="col-md-12">

      <%= render "spot_info", spot: @spot %>
      <p><%= @spot.body %></p>
 
      <%= render "address", spot: @spot, context: :show %>
      <%= render "spot_meta", spot: @spot %>

      <div class="user-info">
        <%= link_to user_path(@spot.user) do %>
 
        <%= render "user_avatar", spot: @spot %>

          <p><%= @spot.user.name %></p>
        <% end %>

        <%= render "static_star", spot: @spot %>

        <p><%= @spot.created_at.strftime('%Y/%m/%d') %></p>
      </div>
    </div>
  </div>

  <div class="my-4">
    <% if @spot.user == current_user %>
      <%= link_to '編集', edit_spot_path(@spot), class: 'btn btn-primary' %>
      <%= link_to '削除', spot_path(@spot), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
    <% end %>
  </div>

  <!-- 地図表示 -->
  <div id="map"
  data-lat="<%= @spot.latitude %>"
  data-lng="<%= @spot.longitude %>"
  data-title="<%= j @spot.title %>"
  data-address="<%= j @spot.address %>"
  data-body="<%= j @spot.body %>"
  data-image="<%= url_for(@spot.image) %>"
  style="width: 100%; height: 400px;">
</div>

<!-- Google Maps importLibrary ローダー（必須） -->
<script>
  (g => {
    var h, a, k, p = "The Google Maps JavaScript API", c = "google",
      l = "importLibrary", q = "__ib__", m = document, b = window;
    b = b[c] || (b[c] = {});
    var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams,
      u = () => h || (h = new Promise(async (f, n) => {
        await (a = m.createElement("script"));
        e.set("libraries", [...r] + "");
        for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
        e.set("callback", c + ".maps." + q);
        a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
        d[q] = f;
        a.onerror = () => h = n(Error(p + " could not load."));
        a.nonce = m.querySelector("script[nonce]")?.nonce || "";
        m.head.append(a);
      }));
    d[l] ? console.warn(p + " only loads once. Ignoring:", g) :
      d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n));
  })({
    key: "AIzaSyDEnkzJxwPw7ir31B2WlzTv33mj-YFGe2k",
  });
</script>

<%= javascript_pack_tag 'map' %>


  <hr>

  <div>
    <h4>コメント件数 - <%= @spot.post_comments.count %> - </h4>
    <% @spot.post_comments.each do |post_comment| %>
      <%= render "user_avatar", spot: @spot %>
        <div class="comment-box">
          <%= post_comment.comment %><br>
        </div>

        <div class="comment-date">
          <%= post_comment.created_at.strftime('%Y/%m/%d') %>
        </div>

        <% if post_comment.user == current_user %>
          <%= link_to "削除", spot_post_comment_path(post_comment.spot, post_comment), method: :delete %>
        <% end %>
      <hr>
    <% end %>
  </div>

  <div>
    <%= form_with model: [@spot, @post_comment] do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "コメントを書いてください。" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
</div>