<div class="container">
  <h1>投稿されたもの</h1>
  <hr>

  <div class="row">
    <%= image_tag @spot.image.variant(resize_to_limit: [300, 300]) if @spot.image.attached? %>
    <div class="col">
      <h5>タイトル  【 <%= @spot.title %> 】</h5>
      <p><%= @spot.body %></p>  <!-- 説明文 -->

    <% if @spot.user.avatar.attached? %>
      <%= link_to user_path(@spot.user) do %>
        <%= image_tag @spot.user.avatar.variant(resize: "80x80") %>
        <p><%= @spot.user.name %></p>
      <% end %>
    <% else %>
      <%= link_to user_path(@spot.user) do %>
        <%= image_tag "いらすとや_no_image.jpg", size: "80x80" %>
        <p><%= @spot.user.name %></p>
      <% end %>
    <% end %>
    <%= @spot.created_at.strftime('%Y/%m/%d') %>
    </div>
  </div>

  <br>

  <% if @spot.user == current_user %>
    <%= link_to '編集', edit_spot_path(@spot), class: 'btn btn-primary' %>
    <%= link_to '削除', spot_path(@spot), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
  <% end %>

  <hr>

  <div>
    <h5>コメント件数 - <%= @spot.post_comments.count %> - </h5>
    <% @spot.post_comments.each do |post_comment| %>
      <%= image_tag post_comment.user.avatar.variant(resize_to_limit: [80, 80]) if post_comment.user.avatar.attached? %><br>
      <%= link_to post_comment.user.name, user_path(post_comment.user) %><br>
      <%= post_comment.comment %><br>
      <%= post_comment.created_at.strftime('%Y/%m/%d') %>
      <% if post_comment.user == current_user %>
        <%= link_to "削除", spot_post_comment_path(post_comment.spot, post_comment), method: :delete %>
      <% end %>
      <hr>
    <% end %>
  </div>

  <div>
    <%= form_with model: [@spot, @post_comment] do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "コメントを書いてください。" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
</div>