<div class="container">
  <h1><%= @user.name %>さんのマイページ</h1>
 <hr>

 <%= render "introduction", user: @user do %>
  <% if @user.guest_user? %>
    <div class="alert alert-info mt-3">
      現在はゲストとして閲覧中です。ログインすると、プロフィールの編集ができるようになります。
    </div>
  <% else %>
    <%= link_to "プロフィール編集", edit_user_registration_path, class: "btn btn-warning mt-3" %>
  <% end %>
<% end %>

  <hr>
  <br>

  <h1>My投稿一覧</h1>
  <hr>
  <% @spots.each do |spot| %>
    <div class="row">
      <div class="col-4">
       <%= link_to spot_path(spot) do %>
          <% if spot.image.attached? %>
            <%= image_tag spot.image.variant(resize_to_limit: [300, 300]),class: "spot-image" %>
          <% else %>
            <%= image_tag 'いらすとや_no_image.jpg', size: "300x300" %>
          <% end %>
        <% end %>
      </div>

      <div class="col-8">
        <h4 class="highlight-title mb-3">【 <%= spot.title %> 】</h4>
          <p class="body-collapse" id="body-<%= spot.id %>">
            <%= spot.body %>
          </p>
          <% if spot.body.present? && spot.body.length > 100 %>
            <button class="btn btn-link mb-3" onclick="toggleBody(event, <%= spot.id %>)">
              続きを読む
            </button>
          <% end %>
        <br>
        <%= link_to '詳細を見る', spot_path(spot), class: 'btn btn-info' %>
      </div>
    </div>
    <hr>
  <% end %>
</div>