<h1><%= @user.name %> さんのプロフィール</h1>

<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar.variant(resize: "150x150"), class: "rounded-circle" %>
<% else %>
  <%= image_tag 'いらすとや_no_image.jpg', size: "150x150", class: "rounded-circle" %>
<% end %>

<hr>

<h1>My投稿一覧</h1>
<% @spots.each do |spot| %>
  <div class="spot-card">
    <p><strong>タイトル:</strong> <%= spot.title %></p>
    <p><strong>説明:</strong> <%= spot.body %></p>
    <% if spot.image.attached? %>
      <%= image_tag spot.image.variant(resize_to_limit: [300, 300]) %>
    <% else %>
      <%= image_tag 'いらすとや_no_image.jpg', size: "300x300" %>
    <% end %>
    <div class="spot-image">
      <%= link_to '詳細を見る', spot_path(spot), class: 'btn btn-info' %>
    </div>
  </div>
<% end %>